.App {
  text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400, 500, 300, 700);
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

input {
  font-family: inherit;
  background: inherit;
  font-weight: bolder;
  border: 0;
  text-align: center;
  min-width: 12em;
  cursor: pointer;
}

input:focus {
  outline: none;
}


button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

button:focus {outline:0;}


::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(185, 185, 185);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(185, 185, 185);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(185, 185, 185);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content input {
  padding-top: 72px;
  text-align: center;
  color: rgb(73, 67, 67);
  font-size: 48px;
}

.content h2 {
  color: #555;
}

svg {
  margin-right: 5px;
}
