nav {
  background-color: #555;
  overflow: hidden;
  padding: 12px;
}

.homeButton {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 480px) {
  .navWide {
    display: block;
  }
}
