.headerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerWrapper h2 {
  color: #555;
}

.newItem,
.addItem {
  position: absolute;
  right: 48px;
  bottom: 48px;
  background-color: #ccc;
  border-color: #e3ecf9;
  color: #fff;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.newItem:hover {
  background-color: #e3ecf9;
  color: white;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: square;
}

li {
  color: #555;
  font-size: 24px;
}
