.actionButtonsCell {
    text-align: left;
    background: white;
    border: 0px;
}

.actionButtonsCell span .actionButton {
  width: 24px;
  height: 24px;
  padding: 0;
  border: 0;
  background-color: inherit;
}

@media (max-width: 480px) {
  .actionButtonsCell {
    display: none;
  }
}