.addItem,
.disabled {
  position: absolute;
  right: 48px;
  bottom: 48px;
  background-color: rgb(11, 165, 37);
  border-color: #e3ecf9;
  bottom: 10px;
  right: 10px;
}

.addItem:hover {
  background-color: #e3ecf9;
  color: white;
}

.disabled {
  background-color: #4e4e4e;
  color: rgb(131, 131, 131);
}

