.tableContainer {
  margin: auto;
  width: 80%;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: rgb(165, 165, 165);
  font-weight: bold;
  position: sticky;
  top: 0px;
}

th input {
  color: white;
}

th,
td {
  line-height: 1.5;
  padding: 0.75em;
  text-align: left;
}

.buttonGroup,
.singleButton {
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.tabbleButton {
  background-color: #555;
  color: #fff;
  margin-right: 12px;
  border: 0;
  cursor: pointer;
}
.tabbleButton:hover {
  background-color: #d0dbe9;
  color: white;
}

@media (max-width: 480px) {
  thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
  tr {
    border: 1px solid rgb(189, 189, 189);
    border-bottom: 0;
  }
  tr + tr {
    margin-top: 1.5em;
  }
  tr,
  td {
    display: block;
  }
  td {
    border: none;
    border-bottom: 0.125em solid rgb(189, 189, 189);
    padding-left: 50%;
  }
  td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
  }

  .buttonGroup {
    display: flex;
    position: absolute;
    bottom: 10px;
  }

  .editButton,
  .exitButton {
    display: none;
  }
}
